body,html{
    height: 100%;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}

.navbar_container{
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 1700px;
    
}

.logo-zara{
    margin-right: 15px;
}

.icon-carrito{
    margin-left: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.itemlist_container{
    background-color: grey;
}

.ver-detalle{
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    
}

.button-mid{
    border: 1px solid black;
   
    
}

.container_btn_itemCount{
    align-items: center;
    margin: 0 auto;
    padding: 10px; 
}

.imagen_item{
    justify-content: center;
    margin: 15px auto;
    
}

.imagen_detail{
    justify-content: center;
    margin: 15px auto;
}


.container_loader{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container_img_cart{
    display: flex; 
    align-items: center;
    justify-content: center;

}

.img_cart{
    width: 50px;
    margin-right: 10px;

}

.container_ul{
    list-style-type: none;
}

.precio_unitario{
    color: rgb(0, 0, 0);
    
}
.cantidad{
    color: rgb(0, 0, 0);
}

.btn-eliminar{
    border: 1px solid black;
    cursor: pointer;
    transition: .5s;
}

.btn-eliminar:hover{
    color: red;
}

.btn-agregar{
    border: 1px solid black;
    cursor: pointer;
    transition: .5s;
}
.btn-agregar:hover{
    color: green;
}

.texto_modificar_compra{
    font-size: 25px;
    text-align: center;
    align-items: center;
}

.vaciar_carrito{
   color: black;
   border: 1px solid black;
   margin: 0 15px;
   cursor: pointer;
   transition: .5s;
}

.vaciar_carrito:hover{
    color: red;
}

.confirmar_compra{
    color: black;
    border: 1px solid black;
    margin: 0 15px;
    cursor: pointer;
    transition: .5s;
}

.confirmar_compra:hover{
    color: green;
}

.titulo_cart{
    color: black;
}

.imagen_cart{
    width: 300px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
}