
.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}

.navbar_container{
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 1700px;
    
}

.logo-zara{
    margin-right: 15px;
}

.icon-carrito{
    margin-left: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.itemlist_container{
    background-color: grey;
}

.ver-detalle{
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
    
}

.button-mid{
    border: 1px solid black;
   
    
}

.container_btn_itemCount{
    align-items: center;
    margin: 0 auto;
    padding: 10px; 
}

.imagen_item{
    justify-content: center;
    margin: 15px auto;
    
}

.imagen_detail{
    justify-content: center;
    margin: 15px auto;
}
